
.header-color {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-text {
  color: #dac934;
  text-decoration: none;
}

.burger {
  background-color: red;
}

.landing-grid {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.my-pic {
  height: 180px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 50px;
  font-weight: bold;
  color: #dac934;
  text-align: center;
}

.banner-text hr {
  border-top: 5px solid white;
  width: 80%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 520px) {
  /* For mobile phones: */

  .social-links {
    display: grid;
    grid-template: "a a "
                  "b b ";
    justify-content: space-around;
    margin: auto;
  }
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: grid;
  padding: 10px;
  grid-template: "a a a"
                 "a a a";
  grid-gap: 40px;
  margin-left: 50px;
}

.card-item {
  padding: 10px;
}

.contact-body {
  margin: auto;
  background: #c5f9d86b;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 520px;
  background: white;
  color: black;
  /* border: solid 2px red; */
  margin-bottom: 20px;

}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

.container-video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 500px) {
  .container-video {
    /* position: fixed; */
    top: 10;
    left: 10;
    bottom: 10;
    right: 10;
    width: 100%;
    height: 100%;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.video {
  display: flex;
  margin-top: 1%;
  margin-left: 23%;
  margin-right: 23%;
  border: solid red 10px;
  border-radius: 2%;
}

.title-video {
  display: flex;
  color: black;
  font-size: 30px;
  /* font-weight: bold; */
  font-family: fantasy;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin-top: 8%;
  padding: 8px;
  margin-left: 36%;
  margin-right: 37%;
}

@media only screen and (max-width: 1200px) {

  .video {
    display: flex;
    margin-top: 1%;
    margin-left: 18%;
    margin-right: 18%;
    border: solid red 10px;
    border-radius: 2%;
  }

  .title-video {
    display: flex;
    color: black;
    font-size: 28px;
    font-family: fantasy;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
    padding: 8px;
    margin-left: 35%;
    margin-right: 35%;
  }
}


@media only screen and (max-width: 920px) {

  .video {
    display: flex;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid red 10px;
    border-radius: 2%;
  }

  .title-video {
    display: flex;
    color: black;
    font-size: 25px;
    font-family: fantasy;
    max-width: 100%;
    max-height: 100%;
    margin-top: 12%;
    padding: 6px;
    margin-left: 30%;
    margin-right: 30%;
  }
}


@media only screen and (max-width: 720px) {

  .video {
    display: flex;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid red 10px;
    border-radius: 2%;
  }

  .title-video {
    display: flex;
    color: black;
    font-size: 25px;
    font-family: fantasy;
    max-width: 100%;
    max-height: 100%;
    margin-top: 16%;
    padding: 6px;
    margin-left: 30%;
    margin-right: 30%;
  }
}
